@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
input[type="date"] {
    position: relative;
}

input[type="date"]:after {
    content: "\1F4C5";
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }


.background {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}
.guild-icon {
    border-radius:5%;
    transition: all 150ms;
}
.guild-icon:hover {
    box-shadow: 0 0 0 4px #007bff;
}
* {
    color: #111;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #003E80;
}
body,container {
    margin:0;
}
input[type=text]{
   padding:0px;
   margin-bottom:2px; /* Reduced from whatever it currently is */
   margin-top:2px; /* Reduced from whatever it currently is */
}
p {
    margin-bottom: 0;
}
td, th{
  padding: 1px !important;
  margin: 0 !important;
}
table {
    font-size:10px;
}
a{
  text-decoration: none;
  position: relative;
  color: #0000d9;
}
a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #0000d9;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}