.bd-subnavbar{
    position:relative;
    z-index:1020;
    background-color:rgba(255,255,255,0.95);
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.05),inset 0 -1px 0 rgba(0,0,0,0.15)
}
.bd-subnavbar .dropdown-menu{
    font-size:.875rem;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.05)
}
.bd-subnavbar .dropdown-item.current{
    font-weight:600;
    background-repeat:no-repeat;
    background-position:right 1rem top 0.6rem;
    background-size:.75rem .75rem
}
@media (min-width: 768px){
    .bd-subnavbar{
        position:-webkit-sticky;
        position:sticky;
        top:0
    }
}
.bd-sidebar-toggle{
    color:#6c757d
}
.bd-sidebar-toggle:hover,.bd-sidebar-toggle:focus{
    color:#7952b3
}
.bd-sidebar-toggle:focus{
    box-shadow:0 0 0 3px rgba(121,82,179,0.25)
}
.bd-sidebar-toggle .bi-collapse{
    display:none
}
.bd-sidebar-toggle:not(.collapsed) .bi-expand{
    display:none
}
.bd-sidebar-toggle:not(.collapsed) .bi-collapse{
    display:inline-block
}
.skippy{
    background-color:#563d7c
}
.skippy a{
    color:#fff
}
@media (max-width: 767.98px){
    .bd-sidebar{
        margin:0 -.75rem 1rem
    }
}
.bd-links{
    overflow:auto;
    font-weight:600
}
@media (min-width: 768px){
    .bd-links{
        position:-webkit-sticky;
        position:sticky;
        top:5rem;
        display:block !important;
        height:calc(100vh - 7rem);
        padding-left:.25rem;
        margin-left:-.25rem;
        overflow-y:auto
    }
}
@media (min-width: 768px){
    .bd-layout{
        display:grid;
        gap:1.5rem;
        grid-template-areas:"sidebar main";
        grid-template-columns:1fr 3fr
    }
}
@media (min-width: 992px){
    .bd-layout{
        grid-template-columns:1fr 5fr
    }
}
.bd-sidebar{
    grid-area:sidebar
}
.bd-main{
    grid-area:main
}
.bd-content{
    grid-area:content;
    min-width:1px
}
.bd-example-offcanvas{
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.bd-example-offcanvas .offcanvas{
    position:static;
    display:block;
    height:200px;
    visibility:visible;
    transform:translate(0)
}