@import link.locutus.discord.pnw.DBNation
@import link.locutus.discord.util.TimeUtil
@import java.util.*

@args (DBNation nation)
<div class="card alert p-1 my-1 alert-dismissible">
    <div class="card-body">
        <h5 class="card-title"><a href="@nation.getNationUrl()">
            @nation.getNation()</a> | <a href="@nation.getAllianceUrl()">@nation.getAlliance()</a>
            @if (nation.getPosition() == 1) {
            <span class="badge badge-secondary">APP</span>
            }
        </h5>
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Cities</th>
                <td>@nation.getCities()</td>
            </tr>
            <tr>
                <th scope="row">avg_infra</th>
                <td>@nation.getAvg_infra()</td>
            </tr>
            <tr>
                <th scope="row">MMR (build/units)</th>
                <td>@(nation.getMMRBuildingStr())/@(nation.getMMR())</td>
            </tr>
            <tr>
                <th scope="row">Last login</th>
                <td>@if(nation.getActive_m() <= 3){Online} else {@(TimeUtil.minutesToTime(nation.getActive_m()))}</td>
            </tr>
            <tr>
                <th scope="row">Daily Login</th>
                <td>@(100 * nation.avg_daily_login())%</td>
            </tr>
            <tr>
                <th scope="row">Seniority</th>
                <td>@nation.allianceSeniority() days</td>
            </tr>
            <tr>
                <th scope="row">Wars (off/def)</th>
                <td>@(nation.getOff())/@(nation.getDef())</td>
            </tr>
            <tr>
                <th scope="row">Domestic Policy</th>
                <td>@nation.getDomesticPolicy()</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>