@import java.util.*
@import link.locutus.discord.apiv1.enums.city.project.Projects
@import link.locutus.discord.apiv1.enums.city.project.Project
@import net.dv8tion.jda.api.entities.User
@import link.locutus.discord.pnw.DBNation
@import java.util.List
@import java.util.UUID
@import link.locutus.discord.apiv1.enums.DomesticPolicy
@import link.locutus.discord.util.TimeUtil

@args (Guild guild, GuildDB db, DBNation nation, User author)
@views.main.template("Guild index") -> {
<div class="row">
    <h1>Guild info</h1>
</div>

<div class="row">
    <h1>Membership info</h1>
    <hr>
    @views.
</div>
}