@import com.google.gson.JsonObject
@import java.io.IOException
@import java.util.Collections
@import java.util.HashSet
@import java.util.Map
@import java.util.Set
@import link.locutus.discord.commands.rankings.SphereGenerator
@import link.locutus.discord.db.entities.metric.AllianceMetric
@import link.locutus.discord.db.entities.DBAlliance
@import java.util.Collections

@args(SphereGenerator spheres, Set<DBAlliance> alliances, Map<DBAlliance, Map<AllianceMetric, Map<Long, Double>>> metricMap, Set<AllianceMetric> metrics, long startTurn, long endTurn)
@rocker.main.template("Global Stats") -> {
<h2 class="text-white">Search</h2>
<input class="form-control form-control-sm" id="myInput" type="text" placeholder="Search..">

@for (Integer sphereId : spheres.getSpheres()) {
    @if (Collections.disjoint(metricMap.keySet(), spheres.getAlliances(sphereId))) {
        @continue
    }

    <div class="bg-white mt-3 rounded shadow py-1 searchable accordion" id="Accordion@(sphereId)">
        <div class="accordion-item">
            <div class="accordion-header" id="heading@(sphereId)">
                <button class="accordion-button p-1 btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(sphereId)" aria-expanded="true" aria-controls="collapse@(sphereId)">
                    <h3>@(spheres.getSphereName(sphereId)) total</h3>
                </button>
            </div>
            <div id="collapse@(sphereId)" class="accordion-collapse collapse show" aria-labelledby="heading@(sphereId)" data-bs-parent="#Accordion@(sphereId)">
                <div class="accordion-body bg-light">
                    @if (spheres.getAlliances(sphereId).size() > 1) {
                    <div class="bg-light border border-3 border-secondary rounded searchable">
                        @rocker.data.timechartdatasrc.template(spheres.getSphereName(sphereId) + " total",
                        AllianceMetric.generateTable(metricMap, metrics, startTurn, endTurn,
                        spheres.getSphereName(sphereId),
                        new HashSet<>(spheres.getAlliances(sphereId))
                        ).convertTurnsToEpochSeconds(startTurn).toHtmlJson(),
                        true)
                    </div>
                    <hr>
                    }
                    @for (DBAlliance alliance : spheres.getAlliances(sphereId)) {
                    @if (metricMap.containsKey(alliance)) {
                    <div class="card searchable" style="display:inline-block;width:36rem;min-height:18rem;vertical-align: top;">
                        @rocker.data.timechartdatasrc.template(alliance.getName(),
                        AllianceMetric.generateTable(metricMap, metrics, startTurn, endTurn, alliance.getName(),
                        Collections.singleton(alliance)
                        ).convertTurnsToEpochSeconds(startTurn).toHtmlJson(),
                        true)
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>
}
<script>
$(document).ready(function(){
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".searchable").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>
}