@import link.locutus.discord.db.GuildDB
@import net.dv8tion.jda.api.entities.Guild
@import java.util.*

@args (List<GuildDB> guildDbs)

@rocker.main.template("Guilds") -> {
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".guild-entry").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
    <div class="container-fluid input-group input-group-lg">
        <input class="form-control form-control-sm" id="myInput" type="text" placeholder="Search..">
    </div>
    @for (GuildDB db : guildDbs) {
        @guildentry.template(db.getGuild(),db)
    }
}