@import link.locutus.discord.user.Roles
@import link.locutus.discord.db.GuildDB
@import net.dv8tion.jda.api.entities.Guild
@import net.dv8tion.jda.api.entities.User
@import link.locutus.discord.db.entities.DBAlliance

@args (GuildDB db, Guild guild, DBAlliance alliance, User user)
@views.main.template(alliance.getName() + " Alliance Index") -> {
<a class="m-1 btn btn-primary btn-lg" href="allianceleaves/@alliance.getId()">View Rank Changes</a>
<a class="m-1 btn btn-primary btn-lg" href="alliancewars/@alliance.getId()">View Rank Changes</a>
}