@import link.locutus.discord.Locutus
@import link.locutus.discord.commands.manager.v2.binding.annotation.Command
@import link.locutus.discord.commands.manager.v2.binding.annotation.Me
@import link.locutus.discord.commands.manager.v2.binding.annotation.Switch
@import link.locutus.discord.commands.manager.v2.binding.annotation.Timestamp
@import link.locutus.discord.commands.manager.v2.impl.discord.permission.IsAlliance
@import link.locutus.discord.commands.manager.v2.impl.discord.permission.RolePermission
@import link.locutus.discord.commands.manager.v2.impl.discord.permission.WhitelistPermission
@import link.locutus.discord.db.BankDB
@import link.locutus.discord.db.GuildDB
@import link.locutus.discord.db.entities.Coalition
@import link.locutus.discord.db.entities.TaxBracket
@import link.locutus.discord.util.PnwUtil
@import link.locutus.discord.db.entities.Transaction2
@import link.locutus.discord.db.entities.DBNation
@import link.locutus.discord.user.Roles
@import link.locutus.discord.util.MathMan
@import link.locutus.discord.util.TimeUtil
@import link.locutus.discord.util.math.ArrayUtil
@import link.locutus.discord.util.offshore.Auth
@import link.locutus.discord.util.offshore.test.IACategory
@import link.locutus.discord.apiv1.enums.ResourceType
@import it.unimi.dsi.fastutil.ints.Int2IntOpenHashMap
@import it.unimi.dsi.fastutil.ints.Int2ObjectOpenHashMap
@import it.unimi.dsi.fastutil.longs.Long2IntOpenHashMap
@import net.dv8tion.jda.api.entities.Guild
@import java.util.List
@import java.util.Map
@import java.util.Set
@import java.util.UUID
@import java.util.ArrayList
@import java.util.HashMap

@args (GuildDB db, Set<Integer> alliances, boolean requireGrant, boolean requireExpiry, boolean requireTagged,
    Map<Integer, TaxBracket> brackets, List<BankDB.TaxDeposit> taxes, Map<Integer, TaxBracket> bracketsByNation, Map<Integer,
        List<DBNation>> nationsByBracket, List<DBNation> nations,
        Map<Integer, Map<Integer, Integer>> bracketToNationDepositCount, Map<Integer, Integer> allNationDepositCount,
        double[] incomeTotal, Map<Integer,double[]> incomeByBracket, Map<Integer,double[]> incomeByNation, Map<Integer, Map<Integer,double[]>> incomeByNationByBracket,
        Map<Integer, List<Transaction2>> transactionsByNation, Map<Integer, List<Transaction2>> transactionsByBracket, Map<Integer, Map<Integer, List<Transaction2>>> transactionsByNationByBracket, List<Transaction2> expenseTransfers,
            double[] expenseTotal, Map<Integer,double[]> expensesByBracket, Map<Integer,double[]> expensesByNation, Map<Integer, Map<Integer,double[]>> expensesByNationByBracket
    )

@rocker.main.template("Tax Expenses") -> {
<div class="bg-white container mt-3 rounded shadow py-1">
@if (requireGrant) {
    <kbd>requireGrant</kbd>
}
@if (requireExpiry) {
    <kbd>requireExpiry</kbd>
}
@if (requireTagged) {
    <kbd>requireTagged</kbd>
}
<kbd>#@(taxes.size()) tax records</kbd>
<h2>Alliances:</h2>
<ul class="list-inline">
@for (int allianceId : alliances) {
    <li class="list-inline-item"><a class="btn btn-sm border rounded" href="https://politicsandwar.com/alliance/id=@(allianceId)">@(PnwUtil.getName(allianceId, true))</a></li>
}
</ul>
</div>

<!--Total-->
@rocker.guild.econ.taxexpensebracket.template(-1, "Total Tax", db, null,
bracketsByNation, nations,
allNationDepositCount,
incomeTotal,
incomeByNation,
transactionsByNation,
expenseTransfers,
expenseTotal,
expensesByNation
)

@for (Map.Entry<Integer, TaxBracket> entry : brackets.entrySet()) {
    @if (expensesByBracket.get(entry.getKey()) == null && incomeByBracket.get(entry.getKey()) == null) {
        @continue
    }
    @rocker.guild.econ.taxexpensebracket.template(entry.getKey(), "Bracket", db, entry.getValue(),
            bracketsByNation, nationsByBracket.getOrDefault(entry.getKey(), new ArrayList<>()),
            bracketToNationDepositCount.getOrDefault(entry.getKey(), new HashMap<>()),
            incomeByBracket.getOrDefault(entry.getKey(), ResourceType.getBuffer()),
            incomeByNationByBracket.getOrDefault(entry.getKey(), new HashMap<>()),
            transactionsByNationByBracket.getOrDefault(entry.getKey(), new HashMap<>()),
            transactionsByBracket.getOrDefault(entry.getKey(), new ArrayList<>()),
            expensesByBracket.getOrDefault(entry.getKey(), ResourceType.getBuffer()),
            expensesByNationByBracket.getOrDefault(entry.getKey(), new HashMap<>())
    )
}
}