@import link.locutus.discord.util.offshore.Grant
@import link.locutus.discord.apiv1.enums.city.project.Projects
@import link.locutus.discord.apiv1.enums.city.project.Project
@import link.locutus.discord.util.PnwUtil
@import net.dv8tion.jda.api.entities.User
@import link.locutus.discord.db.entities.DBNation
@import link.locutus.discord.util.MathMan
@import java.util.List
@import java.util.UUID
@import link.locutus.discord.util.MarkupUtil

@args (Project project, Grant grant, User user, DBNation nation, List<String> failed, List<String> override, UUID grantToken)
@costFull => { @(PnwUtil.resourcesToString(grant.cost())) }
@costWorth => { @(MathMan.format(PnwUtil.convertedTotal(grant.cost()))) }

<div class="row p-2 m-3 guild-icon guild-entry bg-light" style="border-radius:10px">
    <div class="col-md-2">
        <img alt="guild-icon" class="img-fluid guild-icon" src="@(project.getImageUrl())" onerror="this.style.display='none'">
    </div>
    <div class="col-md-10 p-2">
        <div id="body@?grantToken">
            <h4>@project.name()</h4>
            <p class="lead">${raw}(MarkupUtil.transformURLIntoLinks(grant.getInstructions()))</p>
            <p class="">${costFull} worth: ~$@costWorth</p>
            <p class="">@grant.getNote()</p>
            @if(failed != null) {
                @for (String message : failed) {
                    <div class="alert p-1 my-1 alert-danger border border-danger" role="alert">@message</div>
                }
            }
            @if(override != null) {
                @for (String message : override) {
                    <div class="alert p-1 my-1 alert-warning border border-warning" role="alert">@message</div>
                }
            }
        </div>
        @if (failed == null) {
            <div class="row">
                <div class="col">
                    <button onclick="promptGrant('Confirm Grant', document.getElementById('body@?grantToken').innerHTML, '@?grantToken', true)" class="m-1 btn-lg btn
                    @if(override == null) {
                        btn-primary">Send Grant
                    } else {
                        btn-warning">Send Grant (Admin Override)
                    }
                </button>
                </div>
            </div>
        }
    </div>
</div>