@import link.locutus.discord.web.jooby.WebRoot
@import link.locutus.discord.db.GuildDB
@import link.locutus.discord.db.entities.Announcement
@import link.locutus.discord.db.entities.DBNation
@import java.util.List
@import link.locutus.discord.config.Settings;
@import java.util.Date

@args (GuildDB db, Announcement announcement, List<Announcement.PlayerAnnouncement> announcements)
@rocker.main.template("Announcement Variations") -> {
<div class="alert alert-dismissible fade show container-fluid mt-1 shadow border-start border-3 @if (announcement.active) {
bg-white border-danger
} else {
bg-secondary border-dark
}">
    <h4 class="bold">@(announcement.title)@if (!announcement.active) {
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-warning">archived</span>
    }</h4>
    <figure>
        <blockquote class="blockquote">
            <p class="markup">@(announcement.body)</p>
        </blockquote>
        <figcaption class="blockquote-footer text-dark">
            By <cite title="Author">@rocker.user.userlinkid.template(announcement.sender)</cite> on <span id="date-@(announcement.id)">announcement.date</span>
        </figcaption>
        <script>
            document.getElementById("date-@(announcement.id)").innerHTML = new Date(@(announcement.date)).toString()
        </script>
    </figure>
    Filter: <kbd>@(announcement.filter)</kbd><br>
    Replacements: <kbd>@(announcement.replacements)</kbd><br>

    <a href="@(Settings.INSTANCE.WEB.REDIRECT)/@(db.getIdLong())/manageannouncements" type="button" class="btn btn-primary">View All Announcements</a>
</div>
<div class="container-fluid input-group input-group-lg">
    <input class="form-control form-control-sm" id="myInput" type="text" placeholder="Search..">
</div>
@for (Announcement.PlayerAnnouncement plrAnn : announcements) {
    <div class="variation-entry">
        @rocker.alliance.playerannouncement.template(db, plrAnn, false, true, false)
    </div>
}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".variation-entry").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
}