@args (String error, String stacktrace)

@rocker.main.template("Alert") -> {
 <link rel="stylesheet"  media="print" onload="this.media='all'" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/java.min.js"></script>
<div class="bg-white container mt-3 rounded shadow py-1">
<h1 class="text-primary">@error</h1>
<pre><code class="language-java">@stacktrace</code></pre>
<script>hljs.highlightAll();</script>
</div>
}