@import link.locutus.discord.commands.manager.v2.binding.annotation.Command
@import link.locutus.discord.commands.manager.v2.binding.annotation.Default
@import link.locutus.discord.commands.manager.v2.binding.annotation.Me
@import link.locutus.discord.commands.manager.v2.impl.discord.permission.IsAlliance
@import link.locutus.discord.commands.manager.v2.impl.discord.permission.RolePermission
@import link.locutus.discord.db.GuildDB
@import link.locutus.discord.db.entities.Transaction2
@import link.locutus.discord.pnw.Alliance
@import link.locutus.discord.pnw.DBNation
@import link.locutus.discord.user.Roles
@import link.locutus.discord.util.StringMan
@import link.locutus.discord.util.TimeUtil
@import link.locutus.discord.util.discord.DiscordUtil
@import link.locutus.discord.util.offshore.test.IACategory
@import link.locutus.discord.util.offshore.test.IAChannel
@import link.locutus.discord.util.task.ia.IACheckup
@import net.dv8tion.jda.api.entities.Guild
@import net.dv8tion.jda.api.entities.Member
@import net.dv8tion.jda.api.entities.Role
@import net.dv8tion.jda.api.entities.GuildMessageChannel
@import java.io.IOException
@import java.util.ArrayList
@import java.util.Collections
@import java.util.Comparator
@import java.util.HashMap
@import java.util.HashSet
@import java.util.List
@import java.util.Map
@import java.util.Set
@import java.util.concurrent.TimeUnit
@import java.util.stream.Collectors

@args (DBNation mentor, List<DBNation> myMentees, IACategory iaCat, GuildDB db, Map<DBNation, IACategory.SortedCategory> categoryMap, Map<DBNation, Boolean> passedMap, Map<Integer, Long> lastMentorTxByNationId,
List<DBNation> mentorsWithRole, Map<DBNation, Integer> numPassedMap,
IACheckup checkup)

<h2>Mentor: <a href="@(mentor.getNationUrl())">@(mentor.getNation())</a> | <a href="discord://discordapp.com/users/@(mentor.getUserId())">@@@(mentor.getUserDiscriminator())</a></h2>
@if (mentor.getActive_m() > 4880) {
<div class="alert alert-danger p-1 m-1"><b>Mentor is inactive: </b> @(TimeUtil.minutesToTime(mentor.getActive_m()))</div>
}
@if (mentor.getVm_turns() > 0) {
<div class="alert alert-danger p-1 m-1"><b>Mentor is VM: </b> @(TimeUtil.turnsToTime(mentor.getVm_turns()))</div>
}
@if (mentor.getUser() == null) {
<div class="alert alert-danger p-1 m-1"><b>Mentor is NOT verified</b></div>
} else if (!Roles.MEMBER.has(mentor.getUser(), db.getGuild())) {
<div class="alert alert-danger p-1 m-1"><b>Mentor is NOT a member</b></div>
} else if (!Roles.hasAny(mentor.getUser(), db.getGuild(), Roles.INTERNAL_AFFAIRS_STAFF, Roles.INTERVIEWER, Roles.MENTOR)) {
<div class="alert alert-warning p-1 m-1"><b>Mentor is NOT gov or staff</b>(see roles on discord)</div>
}
@if (lastMentorTxByNationId.getOrDefault(mentor.getNation_id(), 0L) == 0) {
<div class="alert alert-danger p-1 m-1"><b>Mentor has not mentored</b></div>
} else if (lastMentorTxByNationId.getOrDefault(mentor.getNation_id(), 0L) < System.currentTimeMillis() - TimeUnit.DAYS.toMillis(8)) {
<div class="alert alert-warning p-1 m-1"><b>Mentor has not mentored in: </b>@(TimeUtil.secToTime(TimeUnit.MILLISECONDS, System.currentTimeMillis() - lastMentorTxByNationId.getOrDefault(mentor.getNation_id(), 0L)))</div>
}
<div class="alert alert-info p-1 m-1">
    <b>Graduated Mentees:</b> @(numPassedMap.getOrDefault(mentor, 0))
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nation</th>
            <th>City</th>
            <th>MMR[unit]</th>
            <th>MMR[build]</th>
            <th>Off</th>
            <th>Channel</th>
            <th>Category</th>
            <th>Action</th>
<!--            <th>Audit</th>-->
        </tr>
    </thead>
    <tbody>
@for (DBNation myMentee : myMentees) {
    @views.guild.ia.mentee.template(myMentee, iaCat.get(myMentee), categoryMap.get(myMentee), checkup != null ? checkup.checkupSafe(myMentee, true, true) : null)
}
    </tbody>
</table>